/**
 * CSS for Job Application
 * 
 * @author Zaeema <znas0003@student.monash.edu>
 * 
 * Created at     : 2022-08-14 02:30
 * Last modified  : 2022-10-20 23:00 
 */
.applications {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.applications-inner {
    background: #FFF;
    padding: 50px;
}

.close-apps {
    background-color: #2C4C9C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }